.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%
}

.btn-minimalist {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-minimalist:hover {
  background-color: #ddd;
}

.disabled-button {
  opacity: 0.5; 
  cursor: not-allowed;
}