.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20rem;
  background-color: #fff;
  border: 0.1rem solid #ddd;
  border-radius: 0.625rem;
  padding: 1.25em;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card img {
  max-width: 20%;
  max-height: 9.375rem;
  border-radius: 0.625rem;
}
.card h3 {
  font-size: 1.125rem;
  margin: 0.625rem 0;
}

.card p {
  font-size: 0.875rem;
  color: #777;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
