<header>
  <div class="logo" [routerLink]="path.home">
    <img src="assets/images/shop.png" alt="Icon Shop Products" />
    <div class="title">Shop Products</div>
  </div>
  <div class="menu">
    <ul>
      <li *ngIf="!(user$ | async)"><a [routerLink]="path.login">Login</a></li>
      <li *ngIf="user$ | async"><a [routerLink]="path.login" id="logout">Logout</a></li>
      <li *ngIf="(user$ | async) && (role$ | async) === role.ADMIN">
        <a [routerLink]="path.admin">Área de Administradores</a>
      </li>
      <li *ngIf="(user$ | async) && ((role$ | async) === role.CUSTOMER || (role$ | async) === role.ADMIN)">
        <a [routerLink]="path.profile">Área de Cliente</a>
      </li>
    </ul>
  </div>
</header>
