.list-container {
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    gap: 1.25rem;
    padding: 1.25rem;
  }
  .no-results {
    display: flex;
    justify-content: center;
  }
  .list-content {
    height: calc(100vh - 3.75rem - 10.173rem);
  }
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    ::ng-deep custom-button {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        width: 30%;
      }
    }
  }
}
