<div class="list-container">
  <form [formGroup]="form" (ngSubmit)="setParams()">
    <custom-input [placeholder]="'title'" [controlName]="'title'" [form]="form"></custom-input>
    <custom-input [placeholder]="'category'" [controlName]="'category'" [form]="form"></custom-input>
    <custom-input [placeholder]="'price min'" [controlName]="'priceMin'" [form]="form"></custom-input>
    <custom-input [placeholder]="'price max'" [controlName]="'priceMax'" [form]="form"></custom-input>
    <custom-button label="Search"></custom-button>
  </form>
  <custom-loading *ngIf="loading$ | async"></custom-loading>
  <cdk-virtual-scroll-viewport *ngIf="!(loading$ | async)" [itemSize]="20" class="list-content">
    <div class="card-container">
      <custom-card
        *cdkVirtualFor="let product of products$ | async; trackBy: trackByProducts"
        [product]="product"
        (click)="displayDetail(product)"
      ></custom-card>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
