.select-container {
  display: flex;
  justify-content: center;
}

.select-container select {
  border: 0.125rem solid #333;
  border-radius: 0.313rem;
  padding: 0.625em;
  width: 20.3rem;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.select-container select::placeholder {
  color: #888;
}